<IfModule mod_rewrite.c>
   RewriteEngine On

   # Redirect all requests to the test subfolder to index.html
   RewriteBase /test/
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^ index.html [L]
</IfModule>