// Colors
// -------------------------

:root {
  // black
  --c1000: #000000;
  --c1100: #808080;
  --c1200: #efefef;

  // white
  --c2000: #ffffff;

  // fuchsia
  --c3000: #efb1ff;

  // lachs
  --c4000: #f8cbbc;

  // blau
  --c5000: #7fbbff;

  // lemongelb
  --c6000: #ffffc2;

  // Grün
  --c7000: #53bb95;
}
