// Colors
// -------------------------

:root {
  // black
  --c1000: #000000;
  --c1100: #808080;
  --c1200: #efefef;

  // white
  --c2000: #ffffff;

  // fuchsia
  --c3000: #efb1ff;

  // lachs
  --c4000: #f8cbbc;
  --c4100: #f8c1bc;

  // blau
  --c5000: #7fbbff;
  --c5100: #7fa3ff;

  // lemongelb
  --c6000: #ffffc2;

  // lemongelb
  --c6100: #ffddc2;

  // Grün
  --c7000: #53bb95;
  --c7100: #53bb84;
}
