$font-face-path: "fonts";

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  src:
    url("#{$font-face-path}/manrope/manrope-regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src:
    url("#{$font-face-path}/manrope/manrope-500.woff2") format("woff2"),
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  src:
    url("#{$font-face-path}/manrope/manrope-600.woff2") format("woff2"),
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  src:
    url("#{$font-face-path}/manrope/manrope-700.woff2") format("woff2"),
}

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  src:
    url("#{$font-face-path}/manrope/manrope-800.woff2") format("woff2"),
}
