// Setup
@import "_mixins";
@import "_font-faces";
@import "_colors";
@import "_variables";
@import "_scaffolding";

html, body { height: 100%; }
body {
  background: radial-gradient(ellipse at center, rgba(234,254,241,1) 0%, rgba(234,254,241,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}
